server:
  port: 8081
  servlet:
    session:
      cookie:
        name: SESSION

spring:
  datasource:
    url: jdbc:h2:mem:oauth2;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
  sql:
    init:
      mode: always
  session:
    store-type: redis
    redis:
      namespace: shared-session
  redis:
    host: localhost
    port: 6379
